html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-two);
  transition: all .5s ease-in-out;
  font-weight: normal;
}

/* navbar start */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--color-one);
    z-index: 3;
    margin: auto 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.navbar .logo {
    font-size: var(--heading-four);
    margin-left: 50px;
}

.navbar .nav-links {
    margin-left: auto;
    margin-right: 50px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links > ul > li {
    margin-left: 50px;
}

.logo-text {
    font-size: var(--heading-three);
    font-family: 'Leckerli One', cursive;
    color: var(--color-two);
}

/* navbar end */

.row {
  max-width: 100%;
  margin: 2rem auto;
}

.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;
}
  
.intro-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-two);
    z-index: 1;
}
  
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('https://tse4.mm.bing.net/th?id=OIP._Lwf_j2DZ0DiWwv1giCw5QHaE8&pid=Api') center center no-repeat;
    background-size: cover;
    }

.header-content {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
    color: var(--color-one);
}

.content { 
    height: 100%;
    background: var(--color-four);
    margin-top: 100vh;
    z-index: 1;
}

.subscribe-test {
    font-size: var(--font-size-small);
}

.btn-full {
    width: 100%;
}

.footer {
    background: var(--color-one);
    color: var(--color-two);
    padding: 2rem 0;
    text-align: center;
}

.fork {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fork a img {
    margin: 0 0.5rem;
}

/* media queries start */

@media only screen and (min-width: 340px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* media queries end */